# Artifacts
**/.artifacts/data/
**/.docker/data/
**/artifacts/
**/debug/
**/dist/
**/env/
**/tmp/

# Config
**/config.*
**/*.config.*

**/*.env
**/*.env.*

# IDEs
**/.idea/
**/.vscode/

# Node
**/.nvmrc/
**/build/
**/node_modules/
**/pkg/

**/yarn.lock
**/package-lock.json

# Python
**/__pycache__/
**/.pytest_cache/
**/venv/

**/*.whl
**/*.whl.*

# Rust
**/target/

**/Cargo.lock

**/*.bk
**/*.bk.*

# Svelte
**/__sapper__/
**/.DS_STORE/
**/.svelte-kit/

# File Extensions
**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.lock
**/*-lock.*

**/*.log
**/*.log.*

**/*.zip
**/*.zip.*

# Exceptions
!**/default.config.*
!**/*.env.example
!**/*.config.js
!**/*.config.cjs
